# LeetCode Problem 2356: Number of Unique Subjects Taught by Each Teacher  
---  
[Problem Link](https://leetcode.com/problems/number-of-unique-subjects-taught-by-each-teacher/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)  

## Problem Description  

You are given a table `Teacher` with the following structure:  

### Table: Teacher  

| Column Name | Type |  
|-------------|------|  
| teacher_id  | int  |  
| subject_id  | int  |  
| dept_id     | int  |  

- `(subject_id, dept_id)` is the **primary key**, meaning that each subject is uniquely identified by its department.  
- Each row in this table indicates that a **teacher (teacher_id)** teaches a **subject (subject_id)** in a particular **department (dept_id)**.  

Write a solution to **calculate the number of unique subjects each teacher teaches** in the university.  

Return the result table **in any order**.  

### Example 1  

**Input:**  

**Teacher table:**  

| teacher_id | subject_id | dept_id |  
|------------|------------|---------|  
| 1          | 2          | 3       |  
| 1          | 2          | 4       |  
| 1          | 3          | 3       |  
| 2          | 1          | 1       |  
| 2          | 2          | 1       |  
| 2          | 3          | 1       |  
| 2          | 4          | 1       |  

**Output:**  

| teacher_id | cnt |  
|------------|-----|  
| 1          | 2   |  
| 2          | 4   |  

**Explanation:**  

- **Teacher 1:**  
  - Teaches **subject 2** in **departments 3 and 4**.  
  - Teaches **subject 3** in **department 3**.  
  - **Unique subjects: {2, 3} â†’ Count = 2**  

- **Teacher 2:**  
  - Teaches **subject 1, 2, 3, and 4** all in **department 1**.  
  - **Unique subjects: {1, 2, 3, 4} â†’ Count = 4**  

## Approach to Solve the Problem  

1. **Group by `teacher_id`**  
   - Count the number of **unique `subject_id`** for each teacher using `.nunique()`.  

2. **Rename the column to `cnt`**  
   - Ensure the output format matches the problem statement.  

3. **Return the result**  

Happy coding! ðŸŽ‰

In [3]:
import pandas as pd

def count_unique_subjects(teacher):
    teacher = teacher.groupby(['teacher_id'], as_index=False)['subject_id'].nunique()
    return teacher.rename(columns={'subject_id': 'cnt'})

In [4]:
# Data from LeetCode problem
data = [[1, 2, 3], [1, 2, 4], [1, 3, 3], [2, 1, 1], [2, 2, 1], [2, 3, 1], [2, 4, 1]]

# Create DataFrame
teacher = pd.DataFrame(data, columns=["teacher_id", "subject_id", "dept_id"]).astype(
    {"teacher_id": "Int64", "subject_id": "Int64", "dept_id": "Int64"}
)
# Call function
count_unique_subjects(teacher)

   teacher_id  cnt
0           1    2
1           2    4