# LeetCode Problem 1280: Students and Examinations
---
[Problem Link](https://leetcode.com/problems/students-and-examinations/description/)

## Problem Description

Given three tables `Students`, `Subjects`, and `Examinations`, write a solution to find the number of times each student attended each exam.

Return the result table ordered by `student_id` and `subject_name`.

### Example 1

**Input:**  
Students table:

| student_id | student_name |
|------------|--------------|
| 1          | Alice        |
| 2          | Bob          |
| 13         | John         |
| 6          | Alex         |

Subjects table:

| subject_name |
|-------------|
| Math        |
| Physics     |
| Programming |

Examinations table:

| student_id | subject_name |
|------------|--------------|
| 1          | Math         |
| 1          | Physics      |
| 1          | Programming  |
| 2          | Programming  |
| 1          | Physics      |
| 1          | Math         |
| 13         | Math         |
| 13         | Programming  |
| 13         | Physics      |
| 2          | Math         |
| 1          | Math         |

**Output:**  

| student_id | student_name | subject_name | attended_exams |
|------------|--------------|--------------|----------------|
| 1          | Alice        | Math         | 3              |
| 1          | Alice        | Physics      | 2              |
| 1          | Alice        | Programming  | 1              |
| 2          | Bob          | Math         | 1              |
| 2          | Bob          | Physics      | 0              |
| 2          | Bob          | Programming  | 1              |
| 6          | Alex         | Math         | 0              |
| 6          | Alex         | Physics      | 0              |
| 6          | Alex         | Programming  | 0              |
| 13         | John         | Math         | 1              |
| 13         | John         | Physics      | 1              |
| 13         | John         | Programming  | 1              |

**Explanation:**  
The result table should contain all students and all subjects.  
- Alice attended the Math exam 3 times, the Physics exam 2 times, and the Programming exam 1 time.  
- Bob attended the Math exam 1 time, the Programming exam 1 time, and did not attend the Physics exam.  
- Alex did not attend any exams.  
- John attended the Math exam 1 time, the Physics exam 1 time, and the Programming exam 1 time.  

## Approach to Solve the Problem

1. Generate all possible combinations of students and subjects using a cross join.
2. Count the number of times each student attended each exam.
3. Merge the attendance count with the all-combinations dataframe.
4. Replace missing values with 0 for students who did not attend a subject.
5. Return the result ordered by `student_id` and `subject_name`.

In [2]:
import pandas as pd


def students_and_examinations(students, subjects, examinations):
    all_combinations = pd.merge(students, subjects, how="cross").sort_values(
        by=["student_id", "subject_name"]
    )
    exam_count = (
        examinations.groupby(["student_id", "subject_name"])
        .size()
        .reset_index(name="attended_exams")
    )
    result = pd.merge(all_combinations, exam_count, how="left")
    result["attended_exams"] = result["attended_exams"].fillna(0).astype(int)
    return result

In [3]:
# Data from Leetcode problem 
data = [[1, "Alice"], [2, "Bob"], [13, "John"], [6, "Alex"]]
students = pd.DataFrame(data, columns=["student_id", "student_name"]).astype(
    {"student_id": "Int64", "student_name": "object"}
)
data = [["Math"], ["Physics"], ["Programming"]]
subjects = pd.DataFrame(data, columns=["subject_name"]).astype(
    {"subject_name": "object"}
)
data = [
    [1, "Math"],
    [1, "Physics"],
    [1, "Programming"],
    [2, "Programming"],
    [1, "Physics"],
    [1, "Math"],
    [13, "Math"],
    [13, "Programming"],
    [13, "Physics"],
    [2, "Math"],
    [1, "Math"],
]
examinations = pd.DataFrame(data, columns=["student_id", "subject_name"]).astype(
    {"student_id": "Int64", "subject_name": "object"}
)

# Call the function
students_and_examinations(students, subjects, examinations)

    student_id student_name subject_name  attended_exams
0            1        Alice         Math               3
1            1        Alice      Physics               2
2            1        Alice  Programming               1
3            2          Bob         Math               1
4            2          Bob      Physics               0
5            2          Bob  Programming               1
6            6         Alex         Math               0
7            6         Alex      Physics               0
8            6         Alex  Programming               0
9           13         John         Math               1
10          13         John      Physics               1
11          13         John  Programming               1