# LeetCode Problem 607: Sales Person
---
[Problem Link](https://leetcode.com/problems/sales-person/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## Problem Description

Given the tables `SalesPerson`, `Company`, and `Orders`, write a solution to find the names of all the salespersons who did not have any orders related to the company with the name "RED".

The tables are defined as follows:

Table: SalesPerson

| Column Name     | Type    |
|-----------------|---------|
| sales_id        | int     |
| name            | varchar |
| salary          | int     |
| commission_rate | int     |
| hire_date       | date    |

- `sales_id` is the primary key (column with unique values) for this table.
- Each row indicates the name and the ID of a salesperson alongside their salary, commission rate, and hire date.

Table: Company

| Column Name | Type    |
|-------------|---------|
| com_id      | int     |
| name        | varchar |
| city        | varchar |

- `com_id` is the primary key (column with unique values) for this table.
- Each row indicates the name and the ID of a company and the city in which the company is located.

Table: Orders

| Column Name | Type |
|-------------|------|
| order_id    | int  |
| order_date  | date |
| com_id      | int  |
| sales_id    | int  |
| amount      | int  |

- `order_id` is the primary key (column with unique values) for this table.
- `com_id` is a foreign key referencing `com_id` from the Company table.
- `sales_id` is a foreign key referencing `sales_id` from the SalesPerson table.
- Each row contains information about one order. This includes the ID of the company, the ID of the salesperson, the date of the order, and the amount paid.

### Example 1

**Input:**  
SalesPerson table:

| sales_id | name | salary | commission_rate | hire_date  |
|----------|------|--------|-----------------|------------|
| 1        | John | 100000 | 6               | 4/1/2006   |
| 2        | Amy  | 12000  | 5               | 5/1/2010   |
| 3        | Mark | 65000  | 12              | 12/25/2008 |
| 4        | Pam  | 25000  | 25              | 1/1/2005   |
| 5        | Alex | 5000   | 10              | 2/3/2007   |

Company table:

| com_id | name   | city     |
|--------|--------|----------|
| 1      | RED    | Boston   |
| 2      | ORANGE | New York |
| 3      | YELLOW | Boston   |
| 4      | GREEN  | Austin   |

Orders table:

| order_id | order_date | com_id | sales_id | amount |
|----------|------------|--------|----------|--------|
| 1        | 1/1/2014   | 3      | 4        | 10000  |
| 2        | 2/1/2014   | 4      | 5        | 5000   |
| 3        | 3/1/2014   | 1      | 1        | 50000  |
| 4        | 4/1/2014   | 1      | 4        | 25000  |

**Output:**  

| name |
|------|
| Amy  |
| Mark |
| Alex |

**Explanation:**  
Based on orders 3 and 4 in the Orders table, only salespersons John and Pam have orders related to company RED, so we report all the other names in the SalesPerson table.

## Approach to Solve the Problem

1. Merge the `Orders` table with the `Company` table on `com_id` to retrieve the company names.
2. Merge the resulting dataframe with the `SalesPerson` table on `sales_id`.
3. Identify the salespersons who have orders related to the company "RED".
4. Return the names of the salespersons who do not have any orders related to company "RED".

In [94]:
import pandas as pd


def sales_person(sales_person, company, orders):
    df = pd.merge(orders, company, on="com_id", how="left").rename(
        columns={"name": "company_name"}
    )
    df = pd.merge(df, sales_person, on="sales_id", how="left")
    list_sales_RED = df[df["company_name"] == "RED"]["sales_id"].unique()
    result = sales_person[~sales_person["sales_id"].isin(list_sales_RED)][["name"]]
    return result

In [95]:
# Data from Leetcode problem 
data = [
    [1, "John", 100000, 6, "4/1/2006"],
    [2, "Amy", 12000, 5, "5/1/2010"],
    [3, "Mark", 65000, 12, "12/25/2008"],
    [4, "Pam", 25000, 25, "1/1/2005"],
    [5, "Alex", 5000, 10, "2/3/2007"],
]
sales_person_data = pd.DataFrame(
    data, columns=["sales_id", "name", "salary", "commission_rate", "hire_date"]
).astype(
    {
        "sales_id": "Int64",
        "name": "object",
        "salary": "Int64",
        "commission_rate": "Int64",
        "hire_date": "datetime64[ns]",
    }
)
data = [
    [1, "RED", "Boston"],
    [2, "ORANGE", "New York"],
    [3, "YELLOW", "Boston"],
    [4, "GREEN", "Austin"],
]
company = pd.DataFrame(data, columns=["com_id", "name", "city"]).astype(
    {"com_id": "Int64", "name": "object", "city": "object"}
)
data = [
    [1, "1/1/2014", 3, 4, 10000],
    [2, "2/1/2014", 4, 5, 5000],
    [3, "3/1/2014", 1, 1, 50000],
    [4, "4/1/2014", 1, 4, 25000],
]
orders = pd.DataFrame(
    data, columns=["order_id", "order_date", "com_id", "sales_id", "amount"]
).astype(
    {
        "order_id": "Int64",
        "order_date": "datetime64[ns]",
        "com_id": "Int64",
        "sales_id": "Int64",
        "amount": "Int64",
    }
)

# Call the function
sales_person(sales_person_data, company, orders)

   name
1   Amy
2  Mark
4  Alex