# LeetCode Problem 178: Rank Scores
---
[Problem Link](https://leetcode.com/problems/rank-scores/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## Problem Description

Given the table `Scores(id, score)`, compute the rank for each `score` with the rules:
- Higher scores get lower rank numbers (1 = highest).
- Ties share the same rank.
- Ranks are **dense**: after a tie, the next rank increases by 1 (no gaps).
Return the result ordered by `score` in descending order.

**Table: Scores**

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| score       | decimal |

- `id` is the primary key.
- `score` is a floating-point value with two decimal places.


### Example 1

**Input:**

Scores table:

| id | score |
|----|-------|
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |

**Output:**

| score | rank |
|-------|------|
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 2    |
| 3.65  | 3    |
| 3.65  | 3    |
| 3.50  | 4    |

**Explanation:**  
Scores ranked from highest to lowest. Equal scores share the same rank; the next distinct score gets the next integer rank.



## Approach to Solve the Problem

1. Get unique scores and sort them in descending order.  
2. Map each score to its dense rank using a dictionary.  
3. Apply the mapping to create the `rank` column.  
4. Return `score` and `rank` sorted by score descending.

In [220]:
import pandas as pd


def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    key = sorted(scores["score"].unique().tolist(), reverse=True)
    value = [i for i in range(1, len(key) + 1)]
    d = dict(zip(key, value))
    scores["rank"] = scores["score"].apply(lambda key: d[key])
    scores = scores[["score", "rank"]].sort_values(by="score", ascending=False)
    return scores

In [221]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [222]:
order_scores(scores)

   score  rank
4    4.0     1
2    4.0     1
3   3.85     2
1   3.65     3
5   3.65     3
0    3.5     4