# LeetCode Problem 1795: Rearrange Products Table
---
[Problem Link](https://leetcode.com/problems/rearrange-products-table/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## Problem Description

Given the table `Products(product_id, store1, store2, store3)`, rearrange it so each row has:  
`(product_id, store, price)`.  

- If a product is **not available** in a store (`price = null`), exclude that row.  
- Return the result in any order.

**Table: Products**

| Column Name | Type |
|-------------|------|
| product_id  | int  |
| store1      | int  |
| store2      | int  |
| store3      | int  |

- `product_id` is the primary key.
- If unavailable, store columns contain `null`.

### Example 1

**Input:**

Products table:

| product_id | store1 | store2 | store3 |
|------------|--------|--------|--------|
| 0          | 95     | 100    | 105    |
| 1          | 70     | null   | 80     |

**Output:**

| product_id | store  | price |
|------------|--------|-------|
| 0          | store1 | 95    |
| 0          | store2 | 100   |
| 0          | store3 | 105   |
| 1          | store1 | 70    |
| 1          | store3 | 80    |

**Explanation:**  
- Product 0 is available in all stores (95, 100, 105).  
- Product 1 is available only in `store1` (70) and `store3` (80).  

## Approach to Solve the Problem (aligned with your pandas code)

1. Set `product_id` as index.  
2. Apply `stack()` to pivot store columns into rows.  
3. Reset the index to flatten the DataFrame.  
4. Rename columns: `level_1 → store`, stacked values → `price`.  
5. Return the resulting `(product_id, store, price)` table (null rows are automatically excluded).

In [40]:
import pandas as pd


def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    products = (
        products.set_index("product_id")
        .stack()
        .reset_index()
        .rename(columns={"level_1": "store", 0: "price"})
    )
    return products

In [41]:
data = [[0, 95, 100, 105], [1, 70, None, 80]]
products = pd.DataFrame(data, columns=['product_id', 'store1', 'store2', 'store3']).astype({'product_id':'Int64', 'store1':'Int64', 'store2':'Int64', 'store3':'Int64'})

In [42]:
# Call the fuction
rearrange_products_table(products)

   product_id   store  price
0           0  store1     95
1           0  store2    100
2           0  store3    105
3           1  store1     70
4           1  store3     80